<section id="section-formations">
  <div class="container-formations">
    <div class="trapezoids-title">
      <div class="trapezoid-orange">
        <h2>FORMATIONS</h2>
      </div>
    </div>

    <div class="row mx-auto my-auto">
      <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
          <div class="carousel-item active">
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="img-formation">
                  <%= cl_image_tag(@formations[1]&.photo, class: "formation-img")%>
                </div>
                <div class="description-formation">
                  <h3><%= @formations[1]&.title %></h3>
                  <p><%= simple_format(@formations[1]&.description&.first(100)) %>...</p>
                </div>
              </div>
            </div>
          </div>

<!--          <div class="carousel-item">-->
<!--            <div class="col-lg-4 col-md-6">-->
<!--              <div class="card">-->
<!--                <div class="img-formation">-->
                  <%#= cl_image_tag(@formations[10]&.photo, class: "formation-img")%>
<!--                </div>-->
<!--                <div class="description-formation">-->
<!--                  <h3><%#= @formations[10]&.title %></h3>-->
<!--                  <p><%#= simple_format(@formations[10]&.description&.first(100)) %>...</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

          <div class="carousel-item">
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="img-formation">
                  <%= cl_image_tag(@formations[2]&.photo, class: "formation-img")%>
                </div>
                <div class="description-formation">
                  <h3><%= @formations[2]&.title %></h3>
                  <p><%= simple_format(@formations[2]&.description&.first(100)) %>...</p>
                </div>
              </div>
            </div>
          </div>

<!--          <div class="carousel-item">-->
<!--            <div class="col-lg-4 col-md-6">-->
<!--              <div class="card">-->
<!--                <div class="img-formation">-->
                  <%#= cl_image_tag(@formations[11]&.photo, class: "formation-img")%>
<!--                </div>-->
<!--                <div class="description-formation">-->
<!--                  <h3><%#= @formations[11]&.title %></h3>-->
<!--                  <p><%#= simple_format(@formations[11]&.description&.first(100)) %>...</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

          <div class="carousel-item">
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="img-formation">
                  <%= cl_image_tag(@formations[3]&.photo, class: "formation-img")%>
                </div>
                <div class="description-formation">
                  <h3><%= @formations[3]&.title %></h3>
                  <p><%= simple_format(@formations[3]&.description&.first(100)) %>...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="img-formation">
                  <%= cl_image_tag(@formations[4]&.photo, class: "formation-img")%>
                </div>
                <div class="description-formation">
                  <h3><%= @formations[4]&.title %></h3>
                  <p><%= simple_format(@formations[4]&.description&.first(100)) %>...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="img-formation">
                  <%= cl_image_tag(@formations[5]&.photo, class: "formation-img")%>
                </div>
                <div class="description-formation">
                  <h3><%= @formations[5]&.title %></h3>
                  <p><%= simple_format(@formations[5]&.description&.first(100)) %>...</p>
                </div>
              </div>
            </div>
          </div>

<!--          <div class="carousel-item">-->
<!--            <div class="col-lg-4 col-md-6">-->
<!--              <div class="card">-->
<!--                <div class="img-formation">-->
                  <%#= cl_image_tag(@formations[12]&.photo, class: "formation-img")%>
<!--                </div>-->
<!--                <div class="description-formation">-->
<!--                  <h3><%#= @formations[12]&.title %></h3>-->
<!--                  <p><%#= simple_format(@formations[12]&.description&.first(100)) %>...</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

          <div class="carousel-item">
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="img-formation">
                  <%= cl_image_tag(@formations[6]&.photo, class: "formation-img")%>
                </div>
                <div class="description-formation">
                  <h3><%= @formations[6]&.title %></h3>
                  <p><%= simple_format(@formations[6]&.description&.first(100)) %>...</p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <%= image_tag 'fleche_gauche.png', class: "carousel-control"%>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <%= image_tag 'fleche_droite.png', class: "carousel-control"%>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="trapezoids-link col-12">
        <div class="trapezoid-blue">
          <%= link_to "JE DÉCOUVRE TOUTES LES FORMATIONS AUTO", formations_auto_path, class: "formation-path" %>
        </div>
      </div>
    </div>

  </div>
</section>
