<section id="section-formations">
  <div class="container-formations">
    <div class="trapezoids-title">
      <div class="trapezoid-blue">
        <h1>FORMATIONS</h1>
      </div>
    </div>

    <div class="row mx-auto my-auto">
      <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
          <div class="carousel-item active">
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="img-formation">
                  <%= cl_image_tag(@formations[0].photo, class: "formation-img")%>
                </div>
                <div class="description-formation">
                  <h2><%= @formations[0].title %></h2>
                  <p><%= simple_format(@formations[0].description.first(50)) %>...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="img-formation">
                  <%= cl_image_tag(@formations[1].photo, class: "formation-img")%>
                </div>
                <div class="description-formation">
                  <h2><%= @formations[1].title %></h2>
                  <p><%= simple_format(@formations[1].description.first(50)) %>...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="img-formation">
                  <%= cl_image_tag(@formations[5].photo, class: "formation-img")%>
                </div>
                <div class="description-formation">
                  <h2><%= @formations[5].title %></h2>
                  <p><%= simple_format(@formations[5].description.first(50)) %>...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="img-formation">
                  <%= cl_image_tag(@formations[3].photo, class: "formation-img")%>
                </div>
                <div class="description-formation">
                  <h2><%= @formations[3].title %></h2>
                  <p><%= simple_format(@formations[3].description.first(50)) %>...</p>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-lg-4 col-md-6">
              <div class="card">
                <div class="img-formation">
                  <%= cl_image_tag(@formations[4].photo, class: "formation-img")%>
                </div>
                <div class="description-formation">
                  <h2><%= @formations[4].title %></h2>
                  <p><%= simple_format(@formations[4].description.first(50)) %>...</p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <%= image_tag 'fleche_gauche.png', class: "carousel-control"%>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <%= image_tag 'fleche_droite.png', class: "carousel-control"%>
        </a>
      </div>
    </div>

    <div class="trapezoids-link">
      <div class="trapezoid-orange">
        <%= link_to "JE DÉCOUVRE TOUTES LES FORMATIONS", formations_path, class: "formation-path" %>
      </div>
    </div>

  </div>
</section>
