<!-- <h1><%#= @article.title %></h1>
<h3><%#= @article.description %></h3>
<p><%#= @article.url_yt %></p>
<p><%#= @article.url_learnybox %></p>
<p><%#= @article.date %></p>

<button><%#= link_to 'Edit', edit_admin_article_path(@article)%></button>
<button><%#= link_to 'Destroy', admin_article_path, method: :delete%></button> -->

<%= render 'shared/navbar' %>
<section id="articles-show">
  <div class="container-article">

    <div class="trapezoid-title1">
      <div class="trapezoid-blue">
        <h1>LE BLOG</h1>
        <%= image_tag 'fleche_gauche.png', class: "arrow"%>
      </div>
    </div>

    <div class="card-article">
      <div class="img-article">
        <%= image_tag(@article.image, class: "article-img") %>
        <%#= link_to "#", id: index, :data => { :src => formation.url_yt, :toggle => "modal", :target => "#exampleModalCenter" }, class: "yt-link-button" do %>
          <%#= image_tag 'play.png', :data => { :src => formation.url_yt }, id: index, class: "formation-play"%>
        <%# end %>
      </div>

      <div class="description-article">
        <h2><span class="blue"><%= @article.title.split(" ").first(3).join(",").gsub(",", " ") %></span><br> <%= @article.title.split(" ").slice(3, 10).join(",").gsub(",", " ") %></h2>
        <p><%= simple_format(@article.description) %></p>
      </div>
    </div>

    <div class="trapezoid-title2">
      <div class="trapezoid-blue">
        <h1>ET AUSSI...</h1>
        <%= image_tag 'fleche_gauche.png', class: "arrow"%>
      </div>
    </div>

    <!-- <div class="row mx-auto my-auto">
      <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
          <%# @articles_sorted_by_date.each do |article| %>
            <div class="carousel-item active">
              <div class="col-lg-4 col-md-6">
                  <div class="card">
                    <div class="img-article">
                      <%#= image_tag(article.image, class: "article-caroussel-img")%>
                    </div>
                    <div class="description-article">
                      <h2><%#= article.title %></h2>
                    </div>
                  </div>
              </div>
            </div>
          <%# end %>
        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <%#= image_tag 'fleche_gauche.png', class: "carousel-control"%>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <%#= image_tag 'fleche_droite.png', class: "carousel-control"%>
        </a>

      </div>
    </div> -->

    <div class="container-caroussel">

      <div class="row mx-auto my-auto">
        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
          <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item active">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="img-article-caroussel">
                    <%= image_tag(@articles[0].image, class: "article-caroussel-img")%>
                  </div>
                  <div class="description-article-caroussel">
                    <h2><%= @articles[0].title %></h2>
                  </div>
                  <div class="trapezoid-btn-more">
                    <%= link_to "LIRE LA SUITE", "#", class: "article-show" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="img-article-caroussel">
                    <%= image_tag(@articles[1].image, class: "article-caroussel-img")%>
                  </div>
                  <div class="description-article-caroussel">
                    <h2><%= @articles[1].title %></h2>
                  </div>
                  <div class="trapezoid-btn-more">
                    <%= link_to "LIRE LA SUITE", "#", class: "article-show" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="img-article-caroussel">
                    <%= image_tag(@articles[2].image, class: "article-caroussel-img")%>
                  </div>
                  <div class="description-article-caroussel">
                    <h2><%= @articles[2].title %></h2>
                  </div>
                  <div class="trapezoid-btn-more">
                    <%= link_to "LIRE LA SUITE", "#", class: "article-show" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="img-article-caroussel">
                    <%= image_tag(@articles[3].image, class: "article-caroussel-img")%>
                  </div>
                  <div class="description-article-caroussel">
                    <h2><%= @articles[3].title %></h2>
                  </div>
                  <div class="trapezoid-btn-more">
                    <%= link_to "LIRE LA SUITE", "#", class: "article-show" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="img-article-caroussel">
                    <%= image_tag(@articles[4].image, class: "article-caroussel-img")%>
                  </div>
                  <div class="description-article-caroussel">
                    <h2><%= @articles[4].title %></h2>
                  </div>
                  <div class="trapezoid-btn-more">
                    <%= link_to "LIRE LA SUITE", "#", class: "article-show" %>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <%= image_tag 'fleche_gauche.png', class: "carousel-control"%>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <%= image_tag 'fleche_droite.png', class: "carousel-control"%>
          </a>
        </div>
      </div>

    </div>

  </div>
  <%= render 'shared/footer' %>
</section>
