<%= render 'shared/navbar' %>
<section id="articles-index">
  <div class="container-articles">

    <div class="trapezoid-title">
      <div class="trapezoid-blue">
        <h1>LE BLOG</h1>
        <%= image_tag 'fleche_gauche.png', class: "arrow"%>
      </div>
    </div>

    <% if admin_signed_in? %>
      <div class="container-btn-new">
        <button class="btn-new"><%= link_to "AJOUTER UN ARTICLE ", new_admin_article_path %> <i class="fi-cwluxl-plus-solid"></i></button>
      </div>
    <% end %>


    <div class="row">
      <%#= paginate @articles_page %>
      <% @articles_page.order('date DESC').each do |article| %>
        <div class="col-lg-6 col-md-6">
          <div class="card">
            <div class="img-article">
              <%= cl_image_tag(article.photo, class: "article-img") %>
            </div>

            <div class="description-article">
              <h2><%= article.title %></h2>
              <p><%= article.description.first(400) %>...</p>
            </div>

            <div class="trapezoid-btn-more <%= is_even?(article.id) %>">
              <%= link_to "LIRE LA SUITE", article_path(article), class: "article-show" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="container-pagination">
      <%= paginate @articles_page %>
    </div>

  </div>
  <%= render 'shared/footer' %>
</section>
