<%# @articles.each do |article| %>
<!-- <h1><%#= article.title %></h1> -->
<!-- <button><%#= link_to "Details", article_path(article) %></button> -->
<!-- <%# end %> -->

<%= render 'shared/navbar' %>
<section id="articles-index">
  <div class="container-articles">

    <div class="trapezoid-title">
      <div class="trapezoid-blue">
        <h1>LE BLOG</h1>
        <%= image_tag 'fleche_gauche.png', class: "arrow"%>
      </div>
    </div>


    <div class="row">
      <% @articles_sorted_by_date.each do |article| %>
        <div class="col-lg-6 col-md-6">
          <div class="card">
            <div class="img-article">
              <%= image_tag(article.image, class: "article-img") %>
              <%#= link_to "#", id: index, :data => { :src => formation.url_yt, :toggle => "modal", :target => "#exampleModalCenter" }, class: "yt-link-button" do %>
                <%#= image_tag 'play.png', :data => { :src => formation.url_yt }, id: index, class: "formation-play"%>
              <%# end %>
            </div>

            <div class="description-article">
              <h2><%= article.title %></h2>
              <p><%= article.description.first(400) %>...</p>
            </div>

            <div class="trapezoid-btn-more">
              <%= link_to "LIRE LA SUITE", article_path(article), class: "article-show" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <%= render 'shared/footer' %>
</section>
