<!-- <h1><%#= @article.title %></h1>
<h3><%#= @article.description %></h3>
<p><%#= @article.url_yt %></p>
<p><%#= @article.url_learnybox %></p>
<p><%#= @article.date %></p> -->

<%= render 'shared/navbar' %>
<%#= render './shared/btn-capture-mail' %>
<section id="articles-show">
  <div class="container-article">

    <div class="trapezoid-title1">
      <div class="trapezoid-blue">
        <h1>LE BLOG</h1>
        <%= image_tag 'fleche_gauche.png', class: "arrow"%>
      </div>
    </div>

    <% if admin_signed_in? %>
      <div class="container-btns-update-delete">
        <div class="row">
          <div class="container-btn-update col-lg-6">
            <button class="btn-update"><%= link_to "METTRE À JOUR CET ARTICLE ", edit_admin_article_path(@article) %><i class="fi-cwsuxl-update"></i></button>
          </div>
          <div class="container-btn-delete col-lg-6">
            <button class="btn-delete"><%= link_to "SUPPRIMER CET ARTICLE ", admin_article_path(@article), method: :delete, data: {confirm: "Es tu sûre de vouloir supprimer cet article Will ?"}  %><i class="fi-cwsuxl-trash-wide"></i></button>
          </div>
        </div>
      </div>
    <% end %>



    <div class="card-article">
      <div class="img-article">
        <%= cl_image_tag(@article.photo, class: "article-img") %>
        <%#= link_to "#", id: index, :data => { :src => formation.url_yt, :toggle => "modal", :target => "#exampleModalCenter" }, class: "yt-link-button" do %>
          <%#= image_tag 'play.png', :data => { :src => formation.url_yt }, id: index, class: "formation-play"%>
        <%# end %>
      </div>

      <div class="description-article">
        <h2><span class="blue">
            <% if @article.title.split(" ").size <= 2 %>
              <%= @article.title %>
            <% else %>
              <%= @article.title.split(" ").first(3).join(",").gsub(",", " ") %>
            <% end %>
            </span>
            <br>
            <% if @article.title.split(" ").size <= 2 %>
            <% else %>
              <%= @article.title.split(" ").slice(3, 10).join(",").gsub(",", " ") %>
            <% end %>
        </h2>
        <p><%= simple_format(@article.description) %></p>
        <% if @article.url_learnybox.present? %>
          <%= link_to @article.url_learnybox, target: "_blank", class: "more" do %>
            <div class="trapezoid-orange">
              <h3>FORMATIONS</h3>
              <%= image_tag 'fleche_gauche_blue.png', class: "arrow"%>
            </div>
          <% end %>
        <% else %>
        <% end %>
      </div>
      <div class="container-facebook-share">
        <p>Vous avez trouvé mon article intéressant ? N’hésites pas à le partager à ta communauté.</p>
        <%= image_tag 'fleche_gauche.png', class: "arrow"%>
        <%= social_share_button_tag('Share to Facebook', :url => @article_path, desc: @article.title) %>
      </div>
    </div>

    <div class="trapezoid-title2">
      <div class="trapezoid-blue">
        <h3>ET AUSSI...</h3>
        <%= image_tag 'fleche_gauche.png', class: "arrow"%>
      </div>
    </div>

    <!-- <div class="row mx-auto my-auto">
      <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
          <%# @articles_sorted_by_date.each do |article| %>
            <div class="carousel-item active">
              <div class="col-lg-4 col-md-6">
                  <div class="card">
                    <div class="img-article">
                      <%#= image_tag(article.image, class: "article-caroussel-img")%>
                    </div>
                    <div class="description-article">
                      <h2><%#= article.title %></h2>
                    </div>
                  </div>
              </div>
            </div>
          <%# end %>
        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <%#= image_tag 'fleche_gauche.png', class: "carousel-control"%>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <%#= image_tag 'fleche_droite.png', class: "carousel-control"%>
        </a>

      </div>
    </div> -->

    <div class="container-caroussel">

      <div class="row mx-auto my-auto">
        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
          <div class="carousel-inner w-100" role="listbox">
            <div class="carousel-item active">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="img-article-caroussel">
                    <%= cl_image_tag(@articles[-1].photo, class: "article-caroussel-img")%>
                  </div>
                  <div class="description-article-caroussel">
                    <h4><%= @articles[-1].title %></h4>
                  </div>
                  <div class="trapezoid-btn-more <%= is_even?(@articles[-1].id) %>">
                    <%= link_to "LIRE LA SUITE", { :controller => "articles", :action => "show", :id => @articles[-1] }, class: "article-show" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="img-article-caroussel">
                    <%= cl_image_tag(@articles[-2].photo, class: "article-caroussel-img")%>
                  </div>
                  <div class="description-article-caroussel">
                    <h4><%= @articles[-2].title %></h4>
                  </div>
                  <div class="trapezoid-btn-more <%= is_even?(@articles[-2].id) %>">
                    <%= link_to "LIRE LA SUITE", { :controller => "articles", :action => "show", :id => @articles[-2] }, class: "article-show" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="img-article-caroussel">
                    <%= cl_image_tag(@articles[-3].photo, class: "article-caroussel-img")%>
                  </div>
                  <div class="description-article-caroussel">
                    <h4><%= @articles[-3].title %></h4>
                  </div>
                  <div class="trapezoid-btn-more <%= is_even?(@articles[-3].id) %>">
                    <%= link_to "LIRE LA SUITE", { :controller => "articles", :action => "show", :id => @articles[-3] }, class: "article-show" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="img-article-caroussel">
                    <%= cl_image_tag(@articles[-4].photo, class: "article-caroussel-img")%>
                  </div>
                  <div class="description-article-caroussel">
                    <h4><%= @articles[-4].title %></h4>
                  </div>
                  <div class="trapezoid-btn-more <%= is_even?(@articles[-4].id) %>">
                    <%= link_to "LIRE LA SUITE", { :controller => "articles", :action => "show", :id => @articles[-4] }, class: "article-show" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="carousel-item">
              <div class="col-lg-4 col-md-6">
                <div class="card">
                  <div class="img-article-caroussel">
                    <%= cl_image_tag(@articles[-5].photo, class: "article-caroussel-img")%>
                  </div>
                  <div class="description-article-caroussel">
                    <h4><%= @articles[-5].title %></h4>
                  </div>
                  <div class="trapezoid-btn-more <%= is_even?(@articles[-5].id) %>">
                    <%= link_to "LIRE LA SUITE", { :controller => "articles", :action => "show", :id => @articles[-5] }, class: "article-show" %>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <%= image_tag 'fleche_gauche.png', class: "carousel-control"%>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <%= image_tag 'fleche_droite.png', class: "carousel-control"%>
          </a>
        </div>
      </div>

    </div>

  </div>
  <%= render 'shared/footer' %>
</section>
