<footer>
  <div id="container-footer">
    <div class="trapezoid-blue-title">
      <h2>RETROUVES NOUS</h2>
    </div>
    <div class="trapezoid-orange-title">
      <h3>SUR</h3>
      <%= image_tag 'fleche_gauche.png', class: "arrow"%>
    </div>

    <div class="social-list">
      <ul>
        <li><a href="https://www.instagram.com/will_le_mono/" target="_blank"> <%= image_tag 'iphone-footer.png', class: "iphone-icon"%></a></li>
        <li><a href="https://www.youtube.com/channel/UC2c_l9vLefW82NbaUeqy6dA/featured" target="_blank"><%= image_tag 'macbook-footer.png', class: "macbook-icon"%></a></li>
        <li><a href="https://www.facebook.com/tonpermisavecwill/" target="_blank"><%= image_tag 'ipad-footer.png', class: "ipad-icon"%></a></li>
      </ul>
    </div>
    <div class="logo-footer">
      <%= link_to root_path, class: "footer-brand" do %>
        <%= image_tag 'logo.png', class: "logo"%>
      <% end %>
    </div>
    <div class="footer-tab">
      <ul class="list-footer">
        <li><%= link_to "Formations", formations_path, class: "footer-brand"%></li>
        <li><%= link_to "Le Blog", articles_path, class: "footer-brand"%></li>
        <li><%= link_to "À propos", pages_about_path, class: "footer-brand"%></li>
        <li><%= link_to "Contact", pages_contact_path, class: "footer-brand"%></li>
      </ul>
    </div>
    <div class="copyright">
      <p>© Copyright 2020 Will Le Mono. Tous droits réservés.</p>
    </div>
    <div class="mentions-legales">
      <%= link_to "Mentions Légales", pages_mentions_legales_path, class: "mentions-legales"%>
    </div>
  </div>
</footer>
