<section id="label">
  <div class="container-label">

    <div class="trapezoids">
      <div class="trapezoid-blue">
        <h1>LABEL</h1>
      </div>
      <div class="trapezoid-orange">
        <h1>QUALITÉ</h1>
      </div>
    </div>

    <div class="introduction">
      <h2>INTRODUCTION</h2>
      <h3>1. Will Le Mono a choisi d'être labélisé :</h3>
      <p>Qu’est ce que le Label Qualité ?</p>
      <p>L’Etat a décidé la création et la mise à disposition du label <span class="bold">« qualité des formations au sein des écoles de conduites »</span> qui repose sur une démarche volontaire des écoles de conduites et des écoles associatives agréées, quelles que soient leur forme juridique, leur taille et leur organisation.</p>
      <p>Ce label atteste de la qualité des formations à la conduite des véhicules terrestres à moteur et à la sécurité routière dispensées au sein des écoles de conduites et associations agréées pour devenir un conducteur responsable, respectueux des autres et de l’environnement.</p>
      <p>Au-delà des facilités offertes quant au référencement dans le cadre du financement de la formation professionnelle continue, le label donnera aux écoles de conduite et associations qui auront fait le choix d’être labellisées, l’exclusivité de dispenser certaines formations qualifiantes de 7 heures, le futur rendez-vous post-permis, le permis à un euro par jour et une visibilité sur le site Internet de la Délégation à la sécurité routière.</p>
      <p>Ainsi la création de ce label répond à plusieurs enjeux notamment pour le consommateur, les écoles de conduites, les associations, l’Etat et les financeurs. Surtout grâce aux informations claires et transparentes, elle permet au consommateur de choisir son école de conduite ou son association en toute connaissance de cause.</p>
      <p>Ce label est accordé pour une durée de 3 ans. Durant cette période, deux audits de suivis sont prévus au sein de l’établissement afin de ne laisser place à aucun manquements liés à ce label qualité.</p>
    </div>

    <div class="criterias">

      <h2>LES <span class="blue">CRITÈRES</span></h2>
      <h3>Critère 1.1 :</h3>
      <p class="bold">Décrire et formaliser le procédé d’évaluation utilisé au sein de l’école de conduite et le mettre à la disposition du public.</p>
      <p class="italic">L’évaluation est obligatoire avant la signature de tout contrat de formation, elle permet :</p>
      <ul>
        <li>De savoir quelles sont les connaissances et l’expérience que vous avez déjà acquises et elle permet de proposer une durée de la formation qui corresponde à votre profil et vos capacités.</li>
      </ul>
      <p class="italic">Voici les deux procédés d’évaluation que nous utilisons au sein de notre auto-école :</p>
      <ul>
        <li>Evaluation papier, principalement faite en voiture avec enseignant de la conduite :</li>
      </ul>
      <div class="row img-evaluation">
        <div class="col-lg-6">
          <%= image_tag "evaluation-depart-1.png", class: "evaluation-1", alt: "Evaluation de départ" %>
        </div>
        <div class="col-lg-6">
          <%= image_tag "evaluation-depart-2.png", class: "evaluation-2", alt: "Evaluation de départ" %>
        </div>
      </div>

      <h3 class="second">Critère 1.4 :</h3>
      <p class="bold">Les horaires de permanence code (tests de 40 questions) en entraînement seul :</p>
      <p>
        Lundi : fermeture du bureau <br>
        Mardi : de 14h à 19h <br>
        Mercredi : de 10h à 12h et de 13h à 18h <br>
        Jeudi : de 14h à 18h <br>
        Vendredi : de 13h à 18h <br>
        Samedi : de 9h à 12h
      </p>
      <p>Les cours collectifs sur les grands thèmes de la sécurité routière sont organisés chaque semaine et sont encadrés par un enseignant de la conduite et de la sécurité routière.</p>
      <p class="bold">Horaires des cours théoriques avec moniteur :</p>
      <p>
        Mercredi : 17h à 18h <br>
        Vendredi : 18h à 19h <br>
        ⚠ Attention : Cela peut varier en fonction des vacances scolaires, congés, examens des permis de conduire ⚠
      </p>
      <p class="bold">Les différentes thématiques au programme sont les suivantes :</p>
      <ul class="hyphen">
        <li>La vigilance et les attitudes à l’égard des autres usagers de la route</li>
        <li>Les effets dus à une consommation d’alcool, de drogues et de médicaments sur la conduite</li>
        <li>L’influence de la fatigue sur la conduite</li>
        <li>Les risques liés aux conditions météorologiques et à l’état de la chaussée</li>
        <li>Les usagers vulnérables</li>
        <li>Les spécificités de certaines catégories de véhicules et les différentes conditions de visibilité de leurs conducteurs</li>
        <li>Les gestes de premiers secours</li>
        <li>Les précautions à prendre en montant et en quittant son véhicule</li>
        <li>Le transport d’un chargement et de personnes</li>
        <li>La réglementation relative à l’obligation d’assurance et aux documents administratifs liés à l’utilisation du véhicule</li>
        <li>Les effets dus à la consommation d’alcool de drogues et de médicaments sur la conduite</li>
        <li>L’influence de la fatigue sur la conduite</li>
        <li>Les risques liés aux conditions météorologiques et à l’état de la chaussée</li>
        <li>La pression sociale (publicité, travail…)</li>
        <li>La pression des pairs</li>
      </ul>

      <h3 class="third">Critère 1.5 :</h3>
      <p class="bold">Les rendez-vous post-permis pour les conducteurs novices.</p>
      <p>À partir du 1er janvier 2019, les titulaires d’un premier permis de conduire pourront prétendre à cette formation. Celle-ci sera dispensée uniquement par une école de conduite détentrice d’un label délivré ou reconnu par les services de l’État garantissant la qualité de son contenu.</p>
      <p>La formation sera collective afin de permettre un maximum d’échanges sur les expériences de conduite entre les conducteurs d’une même génération. Sa durée est limitée à une seule journée (7 heures).</p>
      <p>Un enseignant de la conduite spécialement formé sera responsable de l’animation de chacune de ces journées. Le contenu de la formation, élaboré par des spécialistes de la sécurité routière, fera l’objet d’un arrêté pour garantir un programme de formation homogène sur tout le territoire.</p>
      <p>Ainsi, lorsque la formation post permis sera suivie, la période probatoire se verra réduite de 3 à 2 ans pour le titulaire d’un permis B traditionnel et de 2 ans à 1 an et demi pour un novice qui a suivi l’apprentissage anticipé de la conduite (AAC) pour la catégorie B.</p>
      <p class="center">BIENTOT DISPONIBLE CHEZ WILL LE MONO</p>

      <h3 class="fourth">Critère 2.2 :</h3>
      <p class="bold">Mise à disposition une documentation détaillée exposant les enjeux de la formation préparatoire à l’examen du permis de conduire, son déroulement et les conditions de passage des épreuves de l’examen.</p>
      <p class="bold">DÉROULEMENT DE LA FORMATION</p>
      <p class="bold">À LA CATÉGORIE « B » DU PERMIS DE CONDUIRE</p>
      <p class="underline">Les enjeux de la formation à la conduite :</p>
      <p>L’automobile est devenue un outil social indispensable pour une très grande partie des jeunes. Au-delà du plaisir de conduire, l’utilisation d’une voiture est souvent nécessaire pour les études, le travail ou les loisirs. Rouler en sécurité est donc une préoccupation pour tous.</p>
      <p>Les conducteurs débutants représentent une part trop importante des tués et des blessés sur la route. L’effort engagé doit être poursuivi, notamment par le renforcement de l’éducation et de la formation. Les accidents de la route ne sont pas liés à la fatalité et pour aider les nouveaux conducteurs à se déplacer avec un risque faible de perdre la vie ou de la dégrader, un nouveau programme de formation est mis en place.</p>
      <p>L’objectif général est d’amener tout automobiliste débutant à la maîtrise de compétences en termes de savoir-être, savoirs, savoir-faire et savoir-devenir.</p>
      <p class="bold">Apprendre à conduire est une démarche éducative exigeante.</p>
      <p class="underline-2">Le déroulement de la formation :</p>
      <p>Ce programme se veut une vue d’ensemble, aussi exhaustive que possible, des compétences qu’un conducteur responsable doit acquérir pour ne pas mettre sa sécurité et celle des autres en danger.</p>
      <p>Il vous faudra prendre conscience que ce qui est appris en formation doit progresser et évoluer, après l’obtention du permis de conduire, en tenant compte des mêmes objectifs sécuritaires que lors de votre apprentissage.</p>
      <p>Vous allez apprendre à manipuler une automobile et à circuler dans différentes configurations, à en connaître les risques et les limites.</p>
      <p>Vous allez au travers de ce programme comprendre les règles du code de la route ainsi que l’influence des lois physiques et des aspects psychologiques et physiologiques.</p>
      <p>Vous devrez également vous situer personnellement en tant que citoyen dans vos choix de conduite.</p>
      <p>Des cours théoriques et pratiques, collectifs ou individuels, vous aideront à atteindre les objectifs définis et à personnaliser votre progression. Votre formateur sera à vos côtés pour vous guider et vous conseiller.</p>
      <p>Des tests de connaissances et de capacités pourront être mis en place au fur et à mesure.</p>
      <p>Afin de disposer de repères, quatre grilles de progression accompagnent l’élève dans l’acquisition des compétences. Elles détaillent les savoirs comportementaux, techniques et environnementaux dont doit disposer l’élève conducteur au fur et à mesure de son évolution.</p>
      <p>Pour chacun des objectifs de votre programme, des évaluations mises en place par votre formateur, qui vous précisera les critères et les conditions de réussite, sont prévues. Il vous sera possible ainsi de mesurer votre réussite ou d’apprécier les éléments à faire progresser.</p>
      <p>De même, pour chacun des objectifs, qui impliquent la conscience que vous aurez de vos capacités, de vos motivations et de vos limites, des auto-évaluations sont à votre disposition sur chacune des quatre grilles.</p>
      <p class="bold">Lorsque l’ensemble des compétences requises sera validé, votre formateur pourra alors vous présenter aux épreuves du permis de conduire.</p>
      <div class="img-bilan">
        <%= image_tag "bilancompetences.png", class: "bilan", alt: "Bilan des compétences" %>
      </div>
      <p class="bold">Comment se déroule l’examen ?</p>
      <p>L’épreuve pratique de l’examen du permis de conduire est évaluée par un expert : l’inspecteur du permis de conduire et de la sécurité routière.</p>
      <p>Le jour de l’examen, l’épreuve vous est présentée individuellement par l’expert, qui vous précise ce que vous allez devoir faire :</p>
      <ul>
        <li>Réaliser un parcours empruntant des voies à caractère urbain, routier et/ou autoroutier</li>
        <li>Suivre un itinéraire ou vous rendre vers une destination préalablement établie, en vous guidant de manière autonome, pendant une durée globale d’environ cinq minutes</li>
        <li>Réaliser un freinage pour s’arrêter avec précision et réaliser une manœuvre en marche arrière</li>
        <li>Procéder à la vérification d’un élément technique à l’intérieur ou à l’extérieur du véhicule, répondre à une question en lien avec la sécurité routière et à une question portant sur les notions élémentaires de premiers secours</li>
        <li>Appliquer les règles du code de la route, notamment les limitations de vitesse s’appliquant aux élèves conducteurs</li>
        <li>Adapter votre conduite dans un souci d’économie de carburant et de limitation de rejet de gaz à effet de serre</li>
        <li>Faire preuve de courtoisie envers les autres usagers, et notamment les plus vulnérables</li>
      </ul>
      <p>L’évaluation réalisée par l’expert est basée sur des textes réglementaires et instructions précises qui en fixent les modalités.</p>
      <p>Cette évaluation consiste en un bilan des compétences nécessaires et fondamentales devant être acquises pour une conduite en sécurité, car la conduite est un acte difficile qui engage une responsabilité forte.</p>
      <p>L’expert s’attache à valoriser vos acquis comportementaux plutôt que vos faiblesses. Il réalise ainsi un inventaire des points positifs et des points négatifs restitués par rapport à une compétence donnée. Un échange entre l’expert et vous peut s’instaurer au cours de l’épreuve.</p>
      <p>À l’issue de l’épreuve, l’expert retranscrit de façon formelle ce bilan de compétences dans une grille d’évaluation.</p>
      <p class="bold">DÉROULEMENT DE LA FORMATION</p>
      <p class="bold">AUX CATEGORIE « A1 ET A2 » DU PERMIS DE CONDUIRE</p>
      <p class="underline-2">Les enjeux de la formation à la conduite :</p>
      <p>La dimension sociale de l’usage de la motocyclette, au même titre que l’automobile, se développe fortement. Au-delà du plaisir de conduire et des loisirs, il devient aussi un outil pratique de déplacement pour les études, le travail, etc.</p>
      <p>Les conducteurs de motocyclettes sont largement surexposés pour ce qui est du risque routier.</p>
      <p>L’effort de renforcement de l’éducation et de la formation à la conduite de ce type de véhicule doit donc être poursuivi.</p>
      <p>L’objectif général de la formation est d’amener tout conducteur à la maîtrise de compétences en termes de savoirs, savoir-être, savoir-faire, et savoir-devenir.</p>
      <p>Apprendre à conduire une motocyclette est une démarche éducative exigeante et ce livret va vous guider dans votre progression avec l’aide de votre formateur, enseignant diplômé de la sécurité routière.</p>
      <p class="underline-2">Le déroulement de la formation :</p>
      <p>La conduite d’une motocyclette présente de réelles spécificités qu’il faut être en mesure de maîtriser correctement.</p>
      <p>Ce programme se veut une vue d’ensemble, aussi exhaustive que possible, des compétences théoriques et pratiques qu’un conducteur de motocyclette responsable et autonome doit acquérir pour ne pas mettre sa sécurité et celle des autres en danger.</p>
      <p>Au travers de ce programme, avec l’aide de votre formateur, vous allez apprendre et comprendre les règles du code de la route (notamment celles qui concernent plus spécifiquement le type de véhicule que vous apprenez à conduire) mais aussi apprendre et comprendre le rôle de l’équipement du motard, les moyens de maîtriser la conduite d’une motocyclette à allure faible et soutenue, la nécessité de partager la route en bonne intelligence avec les autres usagers et d’adopter des comportements de conduite citoyens et responsables, la nécessité de la prise de conscience des risques et des limites propres à sa conduite et à celle des autres conducteurs.</p>
      <p>Ce programme vous permet également de pratiquer l’auto-évaluation de vos analyses, décisions, actions et choix de conduite.</p>
      <p>Votre formateur est à vos côtés pour vous guider et vous conseiller.</p>
      <p>Afin de disposer de repères, quatre grilles de progression accompagnent l’élève dans l’acquisition des compétences indispensables pour la conduite d’une motocyclette.</p>
      <p>Ces grilles détaillent, pour chaque sous-compétence associée, les savoirs comportementaux, techniques et environnementaux dont doit disposer l’élève conducteur au fur et à mesure de son évolution.</p>
      <p>Pour chaque sous-compétence associée, des évaluations mises en place par votre formateur, qui vous en précisera les critères et les conditions de réussite, sont prévues. Il vous sera possible ainsi de mesurer votre réussite ou d’apprécier les éléments à faire progresser.</p>
      <p>De plus, pour chacune des sous-compétences associées qui impliquent la conscience que vous aurez de vos capacités, de vos motivations et de vos limites, des auto-évaluations sont à votre disposition au sein de chacune des quatre grilles.</p>
      <p class="bold">Lorsque l’ensemble des compétences requises sera validé, votre formateur pourra alors vous présenter aux épreuves du permis de conduire.</p>
      <p class="underline-2">Comment se déroule l’examen ?</p>
      <p>L’épreuve pratique de l’examen du permis de conduire des catégories A1 et A2 comporte deux phases :</p>
      <ul>
        <li>La première : hors circulation</li>
        <li>La seconde : en circulation</li>
      </ul>
      <p>Ces deux phases de l’épreuve pratique sont évaluées par un expert : l’inspecteur du permis de conduire et de la sécurité routière.</p>
      <p>L’évaluation de l’expert est basée sur des textes réglementaires et instructions précises qui en fixent les modalités.</p>
      <p>L’épreuve hors circulation constitue une admissibilité pour l’épreuve en circulation.</p>
      <p>L’objectif de cette épreuve est d’évaluer le niveau des savoirs et savoir-faire que vous avez acquis : code de la route, sécurité et signalisation routières, équilibre et stabilité, connaissance et emploi des accessoires et commandes du véhicule, freinage, etc.</p>
      <p>L’objectif de l’épreuve en circulation est d’évaluer le niveau des connaissances, des compétences techniques et comportementales que vous avez acquises pour circuler en toute sécurité.</p>
      <p>Cette épreuve se déroule dans un environnement varié où le candidat doit notamment :</p>
      <ul>
        <li>Emprunter des routes droites, négocier des virages</li>
        <li>Changer de direction, franchir des intersections, utiliser des voies d’accélération et de décélération</li>
        <li>Réaliser un parcours empruntant des voies à caractère urbain, routier et/ou autoroutier</li>
        <li>Dépasser et croiser des véhicules</li>
        <li>Quitter un emplacement de stationnement, repartir après un arrêt</li>
        <li>Prendre les précautions nécessaires avant de descendre du véhicule.</li>
      </ul>
      <p>L’expert réalise un bilan des compétences nécessaires et fondamentales devant être acquises pour une conduite en sécurité, car la conduite est un acte difficile qui engage une responsabilité forte.</p>
      <p>L’expert s’attache à valoriser vos acquis comportementaux plutôt que vos faiblesses. Il réalise ainsi un inventaire des points positifs et des points négatifs restitués par rapport à une compétence donnée.</p>
      <p>À l’issue de l’épreuve, l’expert retranscrit de façon formelle ce bilan de compétences dans une grille d’évaluation.</p>
      <div class="img-bilan">
        <%= image_tag "bilancompetences.png", class: "bilan", alt: "Bilan des compétences" %>
      </div>
      <p class="bold">DÉROULEMENT DE LA FORMATION</p>
      <p class="bold">À LA CATÉGORIE « AM » DU PERMIS DE CONDUIRE</p>
      <p class="bold">Définition</p>
      <p>Un cyclomoteur est caractérisé par une cylindrée inférieure ou égale à 50 cm 3 (4kW pour les cyclomoteurs électriques) et une vitesse maximale égale à 45 km/h. Le permis AM est obligatoire pour conduire un deux-roues dès 14 ans.</p>
      <p class="bold">Déroulement</p>
      <p>Il faut avoir obtenu l’ASSR (Attestation Scolaire de Sécurité Routière) de niveau 1 ou 2 ou l’ASR pour suivre une formation pratique de 8 heures minimum assurée par une auto-école ou une association socio-éducative. À l’issue de la formation pratique, l’établissement délivre un Brevet de Sécurité Routière : il correspond à la catégorie AM du permis de conduire. Vous pourrez conduire un cyclomoteur dès que vous serez en possession du permis AM.</p>
      <p>La formation pratique est constituée de cinq séquences :</p>
      <ul>
        <li>La séquence 1 porte sur les échanges sur les représentations individuelles autour de la conduite (30 minutes).</li>
        <li>La séquence 2 porte sur la formation à la conduite hors circulation (1 heure minimum)</li>
        <li>La séquence 3 porte sur le code de la route (30 minutes)</li>
        <li>La séquence 4 porte sur la formation à la conduite sur les voies ouvertes à la circulation publique (3 heures minimum)</li>
        <li>La séquence 5 porte sur la sensibilisation aux risques en présence, pour les élèves mineurs, de l’un au moins des parents ou du représentant légal (1 heures).</li>
      </ul>
      <p>La durée totale des séquences 2 (hors circulation) et séquences 4 (en circulation) doit être de 6 heures au moins.</p>
      <p>Avec le permis AM option cyclomoteur on peut :</p>
      <ul>
        <li>Conduire un cyclomoteur à deux ou trois roues dont la cylindrée est limitée à 50 cm 3 et la vitesse à 45 km/h</li>
        <li>Conduire un quadricycle léger à moteur (catégorie L6e : cylindrée maxi à 50 cm 3 , vitesse 45 km/h)</li>
      </ul>

      <h3 class="fifth">Critère 2.3 :</h3>
      <p class="bold">Règlement Intérieur</p>








      <p class="bold">Ce règlement a pour objet de définir les règles relatives à l’hygiène, à la sécurité ainsi qu’à la discipline nécessaire au bon fonctionnement de l’établissement. Il est applicable par l’ensemble des élèves.</p>
      <p class="italic">L’auto-moto Will Le Mono applique les règles d’enseignement selon les lois en vigueur, notamment l’arrêté ministériel relatif au référentiel pour l’éducation à une mobilité citoyenne (REMC) en vigueur depuis le 1/07/2014.</p>
      <p class="underline-2">Leçons de conduite :</p>
      <p class="italic">En général, une leçon de conduite se décompose comme ceci : 5 minutes sont requises pour l’installation au poste de conduite et pour déterminer l’objectif de travail, puis 45 à 50 minutes de conduite effective par l’élève et pour finir 5 à 10 minutes pour faire le bilan de la leçon, tenir à jour le livret d’apprentissage et le suivi de la formation de l’élève.</p>
      <p>Ce déroulement peut varier en fonction d’éléments extérieurs (bouchon ou autres) et/ou des choix pédagogiques de l’enseignant de la conduite.</p>
      <p>L’auto-école se réserve la possibilité de reporter ou d’annuler les leçons de conduite en cas de force majeure et notamment dans tous les cas où la sécurité ne pourrait être assurée (conditions atmosphériques, accident, manifestation…). Les leçons déjà réglées seront reportées à une date ultérieure.</p>
      <p>Toute heure programmée doit être honorée par l’élève concerné. En cas d’empêchement, il est demandé que l’heure soit annulée au plus tard 48h auparavant.</p>
      <p>Dans le cadre d’un oubli ou d’un retard, l’heure sera facturée et devra être réglée dans sa globalité (selon le tarif en vigueur). Si le retard de l’élève est de moins de 30 minutes alors le temps restant de la leçon pourra être effectué. Cependant le temps de retard de l’élève ne sera en aucun cas rattrapé. Au-delà de 30 minutes de retard, la leçon n’est donc pas réalisée pour le temps restant dans le cas où il s’agit d’une heure de leçon.Pour éviter des annulations abusives, il est demandé aux élèves annulant leur leçon le jour même pour raison de maladie, d’apporter un certificat médical. Ceci permettra de ne pas facturer la leçon concernée.</p>
      <p class="underline-2">Examen théorique / pratique :</p>
      <p class="italic">Pour qu’un élève soit inscrit à l’examen théorique ou pratique il faut :</p>
      <ul>
        <li>Que le programme de formation soit terminé</li>
        <li>Avoir l’avis favorable du moniteur chargé de la formation</li>
        <li>Que le compte soit soldé</li>
      </ul>
      <p>Lorsqu’une date d’examen pratique ou théorique a été fixée à l’élève et avec son accord, celui-ci est tenu de se présenter à l’heure et à la date prévue. S’il décide de ne pas se présenter à cet examen à la date convenue, il doit prévenir l’auto-école en respectant un préavis minimum de 10 jours ouvrables dans ce cas la date d’examen sera reportée à une date ultérieure.</p>
      <p>Dans le cas où l’élève ne respecte pas le préavis de 10 jours ouvrables, l’examen sera considéré comme « absent non excusé » et l’élève devra régler à nouveau l’examen pour pouvoir être inscrit sur la liste suivante. Dans le cas où un élève, présenté à l’un ou l’autre des examens de permis de conduire, ne peut subir l’épreuve par suite de la non présentation à l’inspecteur d’une pièce d’identité admise ou du livret d’apprentissage à jour des annotations, il sera demandé à nouveau le règlement du prochain examen.</p>
      <p class="underline-2">Durée de contrat :</p>
      <p class="italic">Le contrat est conclu pour une durée maximale de 12 mois à compter de la date de signature. Cependant, en ce qui concerne les formations en mode « conduite accompagnée », le contrat sera de 3 ans.</p>
      <p>Suspension du contrat : Dans le cas où l’élève interrompt momentanément ou définitivement sa formation qu’elles qu’en soient les raisons, il s’engage à informer aussitôt son auto-école.</p>
      <p class="italic-bold">Résiliation :</p>

      <ul class="number">
        <li>En cas de résiliation par l’élève pour des raisons autres que celles de force majeure, (maladie grave, mutation de l’élève, vous rendant dans l’incapacité d’assurer votre formation) l’élève décidant la rupture du contrat, le montant de ce que l’élève aura consommer sera due à l’auto-école</li>
        <li>De même que l’auto-école se réserve le droit de résilier à tout moment la formation de l’élève en cas de comportement de celui-ci contraire au règlement intérieur de l’auto-école</li>
        <li>Le contrat sera définitivement résilié après <span class="underline">solde de tout compte</span></li>
      </ul>

      <p class="italic-bold">Restitution de dossier :</p>
      <p>L’élève reste le propriétaire de son dossier (après solde de tout compte de celui-ci). Le dossier doit être restitué à l’élève en main propre ou à la demande d’une tierce personne mandatée par l’élève.</p>
      <p class="underline-2">Obligations de l'élève :</p>
      <p class="italic-bold">Tous les élèves inscrits dans l’établissement se doivent de respecter les conditions de fonctionnement de l’auto-école sans restriction, à savoir :</p>
      <ul>
        <li>Respect envers le personnel de l’établissement</li>
        <li>Respect du matériel (ne pas mettre les pieds sur les chaises, ne pas se balancer dessus, prendre soin du matériel, ne pas écrire sur les murs, chaises, etc.)</li>
        <li>Respect des locaux (propreté, dégradation)</li>
        <li>Les élèves doivent avoir une hygiène, une tenue et un comportement correct et adapté à l’apprentissage de la conduite (pas de chaussures ne tenant pas le pied ou à forts talons)</li>
        <li>Les élèves sont tenus : de ne pas fumer à l’intérieur de l’établissement, ni dans les véhicules écoles, ni de consommer ou d’avoir consommé toute boisson ou produit pouvant nuire à la conduite d’un véhicule (alcool, drogue, médicaments...)</li>
        <li>Il est interdit de manger et de boire dans la salle de code et dans les véhicules</li>
        <li>Il est interdit d’utiliser le matériel vidéo sans y avoir été invité</li>
        <li>Respecter les autres élèves sans discrimination aucune</li>
        <li>Respecter les horaires de code afin de ne pas perturber le bon déroulement de la leçon en cours. (En cas de retard supérieur à 5 minutes, et afin de ne pas perturber le bon déroulement de la séance, il sera possible de ne pas autoriser l’accès à la salle de code.)</li>
        <li>Il est interdit d’utiliser des appareils sonores (MP3, téléphone portable, etc.) pendant les séances de code en dehors du fait d’utiliser l’application MOBIPERMIS mise en place par l’établissement</li>
        <li>Il est demandé aux élèves de ne pas parler pendant les cours</li>
      </ul>

      <p class="underline-2">Règlement des sommes dues :</p>
      <p>L’établissement à mit en place des modalités de paiement qui sont applicable par tous, sans exception. En effet, pour tout permis VOITURE, le forfait code et la Box sont à régler lors de l’inscription.</p>
      <p>Par la suite, l’auto-école demande le règlement de 5h de conduite avant même que ces heures soient commencées. Et cela sera effectif pour chaque cycle de 5h. Enfin, en ce qui concerne les formations « conduite accompagnée ou supervisée », les différents RDV pédagogiques et préalables seront à régler le jour-même.</p>
      <p>Avant tout passage à l’examen de conduire, le solde de la formation sera à régler automatiquement, et dans le cas où le règlement ne sera pas fait, l’auto-école se verra annuler le passage de l’examen pratique de l’élève.</p>
      <p>Pour les formations deux-roues, un acompte de la moitié de la formation est à régler le jour de l’inscription, par carte bancaire ou espèces. <span class="underline">Dans le cadre des formations deux-roues, les chèques sont automatiquement refusés.</span> Il est demandé de régler avant la fin de formation le solde, sinon l’attestation de formation pourra ne pas être transmis à l’élève, ce qui l’empêchera de pouvoir conduire.</p>
      <p>L’élève est tenu de régler à l’établissement les sommes dues, conformément au mode de règlement choisi. Sauf accord particulier de l’auto-école, le solde du compte devra être réglé avant chaque passage de l’examen. Il est demandé que le solde de fin de formation soit réglé soit par Carte bancaire, soit espèces ou virement. <span class="underline">L’établissement n’acceptera aucunement un règlement par chèque pour le règlement du solde.</span></p>
      <p class="italic">Le responsable de l’établissement peut décider d’exclure un élève à tout moment du cursus de formation pour un des motifs suivants :</p>
      <ul>
        <li>Non-paiement</li>
        <li>Attitude empêchant la réalisation du travail de formation</li>
        <li>Évaluation par le responsable pédagogique de l’inaptitude de l’élève pour la formation concernée</li>
      </ul>
      <p class="bold">La direction de l’auto-moto-école Will Le Mono est heureuse de vous accueillir parmi ses élèves et vous souhaite une excellente formation.</p>

      <h3 class="sixth">Critère 3.1 :</h3>
      <p class="bold">Contenu d’un parcours de formation</p>
      <p>Apprendre à conduire est une démarche éducative exigeante qui demande à l’élève de la concentration, de l’assiduité et de la motivation.</p>
      <p>Le parcours qui vous est proposé vous permettra de progresser dans votre formation pour vous amener en situation de réussite aux examens du permis de conduire.</p>
      <p>En signant le contrat pour cette formation à la conduite et à la sécurité routière, vous vous engagez à suivre obligatoirement le parcours de formation suivant :</p>
      <p class="bold">Parcours théorique</p>
      <p>La formation théorique portant sur des questions « d’entraînement au code » pourra être suivie à votre rythme, soit dans les locaux de l’école de conduite avec un support média (DVD), sur le support Internet ou avec un enseignant lors d’un mini stage de sensibilisation à la sécurité routière, se déroulant sur une matinée, en présentiel, comprenant un maximum de 12 personnes incluant l’enseignant. Ce stage regroupe tous les thèmes de l’épreuve théorique général ainsi que les facteurs les plus mortels (alcool, vitesse…) Il est également possible d’assister à des cours de correction avec enseignant sur une durée d’une heure. Il est également proposé des cours d’une heure basée sur les vérifications internes et externes de nos véhicules écoles. Cela permet de mieux appréhender les questions proposées au code et également de connaître les commandes du véhicule avant de débuter les leçons de conduite.</p>
      <p class="bold">Parcours pratique</p>
      <p>Pour que l’apprentissage de la conduite et de la sécurité routière prenne tout son sens, la formation se déroule sous le format de l’alternance (apprentissage théorico-pratique).</p>
      <p>Pendant la phase pratique, vous suivrez le programme de formation du REMC et donc vous serez amené à circuler :</p>
      <ul class="hyphen">
        <li>En ville</li>
        <li>En rase campagne</li>
        <li>Sur autoroute</li>
        <li>De nuit (leçons prises en hiver)</li>
      </ul>
      <p>Vous suivrez également une leçon de 2 heures en binôme, avec un élève du même niveau que vous dans le but de simuler un examen pratique, mais également et surtout d’alterner la pratique et l’observation.</p>
      <p>À la suite de ce parcours, vous serez à même de vous présenter à l’examen pratique du permis de conduire.</p>

      <h3 class="seventh">Critère 5.1 :</h3>
      <p class="bold">L’apprentissage anticipée de la conduite ou la conduite supervisée, pour le candidat de la catégorie B du permis de conduire</p>
      <p class="italic">Vous avez 15 ans et vous avez envie de commencer à vous former pour le permis B : L’apprentissage anticipé de la conduite est à votre portée.</p>
      <p class="underline">L’apprentissage anticipé de la conduite permet :</p>
      <ul>
        <li>De réduire la période probatoire du permis à 2 ans au lieu de 3 (les nouveaux titulaires du permis de conduire disposent de 6 points sur leur permis et doivent attendre deux ans sans infraction avant d’en obtenir 12)</li>
        <li>De commencer la formation initiale en école de conduite (code et conduite) dès 15 ans</li>
        <li>D’acquérir de l’expérience de conduite</li>
        <li>De passer l’épreuve du permis de conduire à 17 ans et demi. En revanche, il n’est possible de conduire seul qu’à partir de 18 ans</li>
        <li>D’augmenter sensiblement ses chances de réussite à l’examen du permis de conduire : 74% de chances de l’obtenir dès la première fois contre 55% par la voie de l’apprentissage traditionnel</li>
        <li>Souvent d’obtenir un tarif préférentiel sur son assurance « jeune conducteur »</li>
      </ul>

      <div class="row img-aac">
        <div class="col-lg-4 img">
          <%= image_tag "AAC.png", class: "aac", alt: "Conduite accompagnée" %>
        </div>
        <div class="col-lg-4 img">
          <%= image_tag "livret.jpg", class: "livret", alt: "Livret d'apprentissage" %>
        </div>
        <div class="col-lg-4 img">
          <%= image_tag "mode-emploi.jpg", class: "mode-emploi", alt: "Accompagnateur mode d'emploi" %>
        </div>
      </div>

      <p class="italic">Vous avez 18 ans et vous voulez acquérir une bonne expérience sur la route avant le permis en poche, alors choisissez la conduite supervisée.</p>
      <p class="underline">La conduite supervisée permet :</p>
      <ul>
        <li>D’acquérir de l’expérience de conduite à moindre coût pour compléter sa formation initiale et, en cas d’échec à l’examen pratique, d’améliorer ses acquis en attendant de le repasser</li>
        <li>D’augmenter sensiblement ses chances de réussite à l’examen du permis de conduire : 74% de chances de l’obtenir dès la première fois contre 55% par la voie de l’apprentissage traditionnel</li>
      </ul>

      <h3 class="heigth">Critère 5.2 :</h3>
      <p class="bold">Formations deux-roues : le lieu et les conditions d’usage de la piste</p>
      <p>Formations aux catégories AM, A1, A2, A du permis de conduire et pour la conduite des véhicules de catégorie L5e.</p>
      <p>Adresse de la formation hors circulation : <br>
      PARC DES EXPOSITIONS, 286 rue Rouget de Lisle, 56600 Lanester</p>
      <p>Temps de parcours à partir de l’école de conduite : <br>
      5 minutes pour 1.6 km.</p>
      <p>Partage de la piste de formation : <br>
      La piste est partagée entre AUTO ECOLE A. KERAUTRET Lanester et AUTO ECOLE WILL LE MONO Lorient.</p>
      <p>Capacité d’accueil : <br>
      Le lieu est équipé d’une piste plus grande que les dimensions demandées lors du passage de l’examen de conduite Hors circulation des permis de catégories A et également d’un abri permettant de s’y abriter en cas de besoin.</p>
      <p>Disponibilité de la piste : <br>
      Selon le calendrier du parc des Expositions de Lorient, c’est-à-dire hors évènements (concerts, salons, festivals). L’amplitude horaire est de 8h à 20h.</p>
    </div>

  </div>
  <%= render 'shared/footer' %>
</section>
