<section id="about">
  <div class="container-about">

    <div class="container-section1-2">
      <div id="section-1">
        <div class="row">
          <div class="left-side1 col-lg-8">
            <div class="trapezoids">
              <div class="trapezoid-blue">
                <h1>À PROPOS</h1>
              </div>
              <div class="trapezoid-orange">
                <h2>DE NOUS</h2>
              </div>
            </div>
            <div class="image-tele">
              <%= image_tag 'montage-tele.png', class: "tele-img", alt: "Will Le Mono dans une vielle télé"%>
            </div>
          </div>
          <div class="right-side1 col-lg-4">
            <h3><span class="blue">C'EST QUOI UNE</span><br>AUTO-ÉCOLE<br>COACHING ?</h3><br><br>
            <p>Une Auto-École forme des futurs conducteurs. <br> Un Coach accompagne des personnes à atteindre leurs objectifs tout en les responsabilisant.</p>
            <p>L'alliance de "l'enseignement de la conduite" et du "coaching" est inédite et innovante. <br> Ce concept permet plus de motivation, plus de performance, plus d'indépendance ainsi qu'une meilleure gestion du stress et des émotions.</p>
            <p>C'est une approche réellement pédagogique et séduisante pour toute personne souhaitant développer ses compétences de futur conducteur(trice) et bien plus encore...</p>
          </div>
        </div>
      </div>


      <div id="section-2">
        <div class="row">
          <div class="left-side2 col-lg-5">
            <h3><span class="blue">UNE HISTOIRE</span><br>QUI COMMENCE<br>EN 2014...</h3><br><br>
            <p>Je me présente, je m'appelle William KERAUTRET et je suis expert en sécurité routière.</p>
            <p>Passionné par la pédagogie et par le coaching j'ai pris la décision de joindre mes deux passions afin de créer le CONCEPT "WILL LE MONO".</p>
            <p>Ma philosophie <i class="fi-xwsrxl-chevron-wide"></i> On ne peut rien enseigner à autrui. On ne peut que l'aider à le découvrir lui-même !</p>
            <p>En effet, mon BUT est de former des conducteurs SÛRS et RESPONSABLES. Ainsi, grâce à l'apport du coaching et des neurosciences dans l'enseignement de la conduite, c'est chose faite 😉</p>
            <div class="trapezoid-orange">
              <%= link_to "JE VEUX ÊTRE COACHÉ", formations_path, class: "more-about" %>
              <%= image_tag 'fleche_gauche.png', class: "arrow" %>
            </div>
          </div>
          <div class="right-side2 col-lg-7">
            <div class="image-will">
              <%= image_tag 'will-page-a-propos-reduit.png', class: "will-about", alt: "Will Le Mono de face"%>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="section-3">
      <div class="container-citation">
        <div class="citation">
          <p><%= image_tag 'guillemets-ouverts.png', class: "guillemets"%> Pour ce qui est de l’avenir, il ne s’agit pas de le prévoir, mais de le rendre possible. <%= image_tag 'guillemets-fermes.png', class: "guillemets"%></p>
          <h4>ANTOINE DE SAINT-EXUPÉRY</h4>
        </div>
      </div>
    </div>


    <!-- <div class="modal fade yt-player" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-body" role="document">
        <div class="my-modal-content-yt-player">
          <iframe id="frame" src="https://www.youtube.com/embed/uNARgmJ_W4g" data-src="" class="hide" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div> -->


    <!-- <div id="section-4">
      <div class="container-formation">
        <div class="row">
          <div class="left-side3 col-lg-8">
            <div class="image-formation">
              <%#= image_tag 'formation-about-play.png', :data => { :toggle => "modal", :target => "#exampleModalCenter" }, class: "formation-img", alt: "Will Le Mono dans sa voiture"%>
              <%#= link_to "#", :data => { :src => "http://www.youtube.com/embed/RKOLG3llePo", :toggle => "modal", :target => "#exampleModalCenter" }, class: "yt-link-button" do %>
                <%#= image_tag 'play.png', :data => { :src => formation.url_yt }, id: index, class: "formation-play"%>
              <%# end %>
            </div>
          </div>
          <div class="right-side3 col-lg-4">
            <div class="container-explication">
              <%#= image_tag 'fleche_droite.png', class: "arrow"%>
              <h3><span class="blue">JE T'EXPLIQUE</span><br>TOUT EN VIDÉO</h3><br><br>
              <p>Comme la vidéo c’est mon DADA et qu’il est parfois plus compréhensible de s’expliquer à l’oral voici une brève vidéo de moi pour te donner l’envie d’être coaché ou de devenir partenaire Will Le MONO.</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->


  </div>
  <%= render 'shared/footer' %>
</section>
