<div class="container-caroussel">

  <h2><span class="blue">L'AGENCE...</span><br>EN QUELQUES PHOTOS...</h2><br><br>

  <div class="row mx-auto my-auto">
    <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
      <div class="carousel-inner w-100" role="listbox">
        <div class="carousel-item active">
          <div class="col-lg-4 col-md-6">
            <div class="review">
              <div class="img-review-caroussel">
                <%= image_tag 'agence-1.jpeg', class: "review"%>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="col-lg-4 col-md-6">
            <div class="review">
              <div class="img-review-caroussel">
                <%= image_tag 'agence-2.png', class: "review"%>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="col-lg-4 col-md-6">
            <div class="review">
              <div class="img-review-caroussel">
                <%= image_tag 'agence-3.jpeg', class: "review"%>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <%= image_tag 'fleche_gauche.png', class: "carousel-control"%>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <%= image_tag 'fleche_droite.png', class: "carousel-control"%>
      </a>
    </div>
  </div>

</div>