<%= render 'shared/navbar' %>
<section id="formations">
  <div class="container-formations">
    <div class="trapezoids-title">
      <div class="trapezoid-blue">
        <h1>FORMATIONS</h1>
        <%= image_tag 'fleche_gauche.png', class: "arrow"%>
      </div>
    </div>
    <h2 class="title-question">Je souhaites me faire coacher sur...</h2>
    <div class="row">
      <% @formations.each do |formation| %>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="img-formation">
              <%= image_tag(formation.image, class: "formation-img") %>
              <%= link_to "#", class: "yt-link-button" do %>
                <%= image_tag 'play.png', class: "formation-play"%>
              <% end %>
              <iframe id="video" src="<%= formation.url_yt %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="description-formation">
              <h2><%= formation.title %></h2>
              <p><%= simple_format(formation.description) %></p>
            </div>
            <div class="trapezoid-btn-coaching">
              <%= link_to "JE VEUX ÊTRE COACHE", formation.url_learnybox, target: "_blank", class: "url_learnybox" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</section>
