<%= render 'shared/navbar' %>
<section id="formations">
  <div class="container-formations">



    <!-- <div id="my-modal-frame-yt" class="modal">
      <div class="modal-close"><%#= image_tag("close.png", class: "close-yt") %></div>
      <div class="my-modal-content">
        <iframe id="frame" src="" class="hide" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div> -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="my-modal-content">
          <iframe id="frame" src="" data-src="" class="hide" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>



    <div class="trapezoids-title">
      <div class="trapezoid-blue">
        <h1>FORMATIONS</h1>
        <%= image_tag 'fleche_gauche.png', class: "arrow"%>
      </div>
    </div>

    <h2 class="title-question">Je souhaites me faire coacher sur...</h2>

    <!-- <h3 class="offer-confinement">OFFRE SPÉCIALE CONFINEMENT 💪</h3> -->

    <h3 class="neon blink">OFFRES SPÉCIALES CONFINEMENT 💪</h1>

    <!-- <div class="row">
      <%# @formations.each_with_index do |formation, index| %>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="img-formation">
              <%#= image_tag(formation.image, class: "formation-img") %>
              <%#= link_to "#", id: index, :data => { :src => formation.url_yt, :toggle => "modal", :target => "#exampleModalCenter" }, class: "yt-link-button" do %>
                <%#= image_tag 'play.png', :data => { :src => formation.url_yt }, id: index, class: "formation-play"%>
              <%# end %>
            </div>

            <div class="description-formation">
              <h2><%#= formation.title %></h2>
              <p><%#= simple_format(formation.description) %></p>
            </div>

            <div class="trapezoid-btn-coaching">
              <%#= link_to "JE VEUX ÊTRE COACHÉ", formation.url_learnybox, target: "_blank", class: "url_learnybox" %>
            </div>
          </div>
        </div>
      <%# end %>
    </div> -->

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="img-formation">
            <%= image_tag(@formations[0].image, class: "formation-img") %>
            <%= link_to "#", id: @formations[0].id, :data => { :src => @formations[0].url_yt, :toggle => "modal", :target => "#exampleModalCenter" }, class: "yt-link-button" do %>
              <%= image_tag 'play.png', :data => { :src => @formations[0].url_yt }, id: @formations[0].id, class: "formation-play"%>
            <% end %>
          </div>

          <div class="description-formation">
            <h2><%= @formations[0].title %></h2>
            <p><%= simple_format(@formations[0].description) %></p>
          </div>

          <p class="price"><span class="barre">67€ </span><i class="fi-xwlrxl-chevron-wide"></i> 27€</p>

          <div class="trapezoid-btn-coaching">
            <%= link_to "JE VEUX ÊTRE COACHÉ", @formations[0].url_learnybox, target: "_blank", class: "url_learnybox" %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="img-formation">
            <%= image_tag(@formations[1].image, class: "formation-img") %>
            <%= link_to "#", id: @formations[1].id, :data => { :src => @formations[1].url_yt, :toggle => "modal", :target => "#exampleModalCenter" }, class: "yt-link-button" do %>
              <%= image_tag 'play.png', :data => { :src => @formations[1].url_yt }, id: @formations[1].id, class: "formation-play"%>
            <% end %>
          </div>

          <div class="description-formation">
            <h2><%= @formations[1].title %></h2>
            <p><%= simple_format(@formations[1].description) %></p>
          </div>

          <p class="price"><span class="barre">67€ </span><i class="fi-xwlrxl-chevron-wide"></i> 27€</p>

          <div class="trapezoid-btn-coaching">
            <%= link_to "JE VEUX ÊTRE COACHÉ", @formations[1].url_learnybox, target: "_blank", class: "url_learnybox" %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="img-formation">
            <%= image_tag(@formations[2].image, class: "formation-img") %>
            <%= link_to "#", id: @formations[2].id, :data => { :src => @formations[2].url_yt, :toggle => "modal", :target => "#exampleModalCenter" }, class: "yt-link-button" do %>
              <%= image_tag 'play.png', :data => { :src => @formations[2].url_yt }, id: @formations[2].id, class: "formation-play"%>
            <% end %>
          </div>

          <div class="description-formation">
            <h2><%= @formations[2].title %></h2>
            <p><%= simple_format(@formations[2].description) %></p>
          </div>

          <p class="price"><span class="barre">67€ </span><i class="fi-xwlrxl-chevron-wide"></i> 27€</p>

          <div class="trapezoid-btn-coaching">
            <%= link_to "JE VEUX ÊTRE COACHÉ", @formations[2].url_learnybox, target: "_blank", class: "url_learnybox" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row pack-complet">
      <div class="col-lg-6">
        <div class="card">
          <div class="img-formation">
            <%= image_tag(@formations[7].image, class: "formation-img") %>
            <%= link_to "#", id: @formations[7].id, :data => { :src => @formations[7].url_yt, :toggle => "modal", :target => "#exampleModalCenter" }, class: "yt-link-button" do %>
              <%= image_tag 'play.png', :data => { :src => @formations[7].url_yt }, id: @formations[7].id, class: "formation-play"%>
            <% end %>
          </div>

          <div class="description-formation">
            <h2><%= @formations[7].title %></h2>
            <p><%= simple_format(@formations[7].description) %></p>
          </div>

          <p class="price"><span class="barre">297€ </span><i class="fi-xwlrxl-chevron-wide"></i> 97€</p>

          <div class="trapezoid-btn-coaching">
            <%= link_to "JE VEUX ÊTRE COACHÉ", @formations[7].url_learnybox, target: "_blank", class: "url_learnybox" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="img-formation">
            <%= image_tag(@formations[3].image, class: "formation-img") %>
            <%= link_to "#", id: @formations[3].id, :data => { :src => @formations[3].url_yt, :toggle => "modal", :target => "#exampleModalCenter" }, class: "yt-link-button" do %>
              <%= image_tag 'play.png', :data => { :src => @formations[3].url_yt }, id: @formations[3].id, class: "formation-play"%>
            <% end %>
          </div>

          <div class="description-formation">
            <h2><%= @formations[3].title %></h2>
            <p><%= simple_format(@formations[3].description) %></p>
          </div>

          <p class="price"><span class="barre">67€ </span><i class="fi-xwlrxl-chevron-wide"></i> 27€</p>

          <div class="trapezoid-btn-coaching">
            <%= link_to "JE VEUX ÊTRE COACHÉ", @formations[3].url_learnybox, target: "_blank", class: "url_learnybox" %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="img-formation">
            <%= image_tag(@formations[4].image, class: "formation-img") %>
            <%= link_to "#", id: @formations[4].id, :data => { :src => @formations[4].url_yt, :toggle => "modal", :target => "#exampleModalCenter" }, class: "yt-link-button" do %>
              <%= image_tag 'play.png', :data => { :src => @formations[4].url_yt }, id: @formations[4].id, class: "formation-play"%>
            <% end %>
          </div>

          <div class="description-formation">
            <h2><%= @formations[4].title %></h2>
            <p><%= simple_format(@formations[4].description) %></p>
          </div>

          <p class="price"><span class="barre">67€ </span><i class="fi-xwlrxl-chevron-wide"></i> 27€</p>

          <div class="trapezoid-btn-coaching">
            <%= link_to "JE VEUX ÊTRE COACHÉ", @formations[4].url_learnybox, target: "_blank", class: "url_learnybox" %>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="img-formation">
            <%= image_tag(@formations[5].image, class: "formation-img") %>
            <%= link_to "#", id: @formations[5].id, :data => { :src => @formations[5].url_yt, :toggle => "modal", :target => "#exampleModalCenter" }, class: "yt-link-button" do %>
              <%= image_tag 'play.png', :data => { :src => @formations[5].url_yt }, id: @formations[5].id, class: "formation-play"%>
            <% end %>
          </div>

          <div class="description-formation">
            <h2><%= @formations[5].title %></h2>
            <p><%= simple_format(@formations[5].description) %></p>
          </div>

          <p class="price"><span class="barre">67€ </span><i class="fi-xwlrxl-chevron-wide"></i> 27€</p>

          <div class="trapezoid-btn-coaching">
            <%= link_to "JE VEUX ÊTRE COACHÉ", @formations[5].url_learnybox, target: "_blank", class: "url_learnybox" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card">
          <div class="img-formation">
            <%= image_tag(@formations[6].image, class: "formation-img") %>
            <%= link_to "#", id: @formations[6].id, :data => { :src => @formations[6].url_yt, :toggle => "modal", :target => "#exampleModalCenter" }, class: "yt-link-button" do %>
              <%= image_tag 'play.png', :data => { :src => @formations[6].url_yt }, id: @formations[6].id, class: "formation-play"%>
            <% end %>
          </div>

          <div class="description-formation">
            <h2><%= @formations[6].title %></h2>
            <p><%= simple_format(@formations[6].description) %></p>
          </div>

          <p class="price"><span class="barre">67€ </span><i class="fi-xwlrxl-chevron-wide"></i> 27€</p>

          <div class="trapezoid-btn-coaching">
            <%= link_to "JE VEUX ÊTRE COACHÉ", @formations[6].url_learnybox, target: "_blank", class: "url_learnybox" %>
          </div>
        </div>
      </div>
    </div>

  </div>
  <%= render 'shared/footer' %>
</section>
