<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- <meta property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" /> -->
    <meta property="og:type"               content="Blog" />
    <meta property="og:title"              content="Coach ton permis, et pas que..." />
    <meta property="og:description"        content="Ce que tu obtiens en atteignant ton objectif n'est pas aussi important que ce que tu deviens en l'atteignant." />
    <meta property="og:image"              content="logo.png" />
    <meta property="og:type"               content="website" />


    <title>Will-Le-Mono</title>

    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- <%#= stylesheet_pack_tag 'application', media: 'all' %> Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= favicon_link_tag asset_path('logo.png') %>
  </head>
  <body id="page-top">
    <%#= render './shared/btn-scroll-up' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
