<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Will Le MONO, le Coach de ton Permis</title>
    <%= favicon_link_tag asset_path('logo.png') %>

    <meta name="description" content="Will Le MONO c'est l'alliance entre un « Formateur en sécurité routière » et un « Coach en développement personnel » ! Si tu veux atteindre ton objectif Permis, c'est par ici...">
    <meta name="keywords" content="permis, conduire, conduite, auto, moto, formations, formations en ligne, wkerautret, auto ecole, auto ecole kerautret, will le mono, rond-point, Ronds-Points, créneau, créneaux, manoeuvre, examen permis, candidat libre, code de la route, conseils permis, examen blanc">
    <meta name="copyright" content="Will Le Mono" />
    <meta name="author" content="GONON Florent" />

    <meta name="google-site-verification" content="BjI4FKrYdOIefNnBT5EWmt3VJ2159B0rfxHEuW2p1Yw" />

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Will Le MONO, le Coach de ton Permis">
    <meta property="og:type" content="website">

    <meta property="og:image:width" content="100%"/>
    <meta property="og:image:height" content="100%"/>
    <meta property="og:image" content="http://www.will-le-mono.fr/assets/logo-1c29fe16357e9d438963c4001dc8b38ab4b3b11d24c5ed300e482f48ef670917.png">

    <meta property="og:description" content="Will Le MONO c'est l'alliance entre un « Formateur en sécurité routière » et un « Coach en développement personnel » ! Si tu veux atteindre ton objectif Permis, c'est par ici...">
    <meta property="og:url" content="http://www.will-le-mono.fr/">
    <meta property="og:locale" content="fr_FR">


    <script defer src="https://friconix.com/cdn/friconix.js"> </script>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- <%#= stylesheet_pack_tag 'application', media: 'all' %> Uncomment if you import CSS in app/javascript/packs/application.js -->

    <%= render './shared/google-analytics' %>
    <%#= render './shared/google-tag-manager' %>

  </head>
  <body id="page-top">

    <%#= render './shared/google-tag-manager-no-script' %>

    <%#= render './shared/modal-captation-mail' %>

    <%#= render './shared/btn-scroll-up' %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>

    <%= render './shared/mouseflow' %>
  </body>
</html>
